.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

/* .product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
} */

.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.add_to_cart{
  background: linear-gradient(rgb(249, 183, 241),rgb(253, 247, 161),rgb(66, 224, 195));
  text-shadow: 0px 0px 6px rgb(44, 12, 226);
  padding: 10px;
  position:relative;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s; 
  margin-top: 10px;
  border-color: #161104, #dda10b, #c610c6;
  cursor: pointer;
}
.add_to_cart:hover{
  background:#FDA8CF;;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   box-shadow: 5px 40px -10px rgba(0,0,0,1);
   transition: all 0.4s ease 0s;
}
